$cerulean: #0095da;
$shamrock: #00b35e;
$twilight-blue: #06567c;
$light-blue: #1E8FE1;
$cherry-red: #f8011e;
$duck-egg-blue: #e5f4fb;
$dusk: #445870;
$turquoise: #00bcd4;
$iv-red: #FF3366;

// Greyscale shade
$white: #ffffff;
$body-background: #f9f9fb;
$light-font: #eeeeee;
$white-smoke-light: #f5f5f5;
$white-smoke: #f2f2f2;
$box-border: #cccccc;
$dark-border: #d5d5d5;
$modal-mask: #4a4a4a;
$background-black: #444444;
$font-black: #333333;
$header-background: #1f2532;
$black: #000000;