<div class="admin-contest">
	<div class="type-tabs">
		<span
			ng-class="['types', {'active' : (adminContest.typeSelected == item)}]"
			ng-repeat="item in adminContest.type"
			ng-click="adminContest.typeSelected = item">
				{{item}}
		</span>
	</div>
	<div class="f-card-holder">
		<div class="row">
			<div
				class="col-md-4"
				ng-repeat="item in adminContest.list"
				ng-if="adminContest.typeSelected == 'All' || adminContest.typeSelected == item.status">
					<div class="f-card">
						<div class="cart-title">{{item.name}}</div>
						<div class="padding-left-20 text-center">Participants : {{item.participants}}</div>
						<div ng-if="item.isActive">
							<div class="text-center margin-top-10"><span class="start-end">Ending In</span></div>
							<div class="text-center"><span>{{item.endsIn}}</span></div>
						</div>
						<div ng-if="!item.isActive && item.status != 'COMPLETED'">
							<div class="text-center margin-top-10"><span class="start-end">Starts In</span></div>
							<div class="text-center"><span>{{item.startIn}}</span></div>
						</div>
						<div class="text-center margin-top-10"><span class="info-pill">{{item.status}}</span></div>
					</div>
			</div>
		</div>
	</div>
</div>
