.admin-contest-details{
	margin:0 auto;
	width: 80%;
	padding-bottom: 20px;
	.content{
		float: left;
		width: 82%;
		padding: 0 20px;
	}
	.timings{
    margin-top: 50px;
		float: left;
		width: 18%;
		border-left: 1px solid #d2cfcf;
		padding: 0 20px 20px 20px;
		.attempt-now{
			margin-top: 20px;
		}
	}
	.title{
		margin-top: 10px;
		h3 {
    	margin-top: 0;
		}
	}
	.description{
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
	}
}