.candidate-detail{
	.type-tabs{    
		width: 80%;
  	margin: 0 auto 0 auto;
		.types{
	    padding: 5px 10px;
    	margin: 0 10px;
    	color: $font-black;
    	cursor: pointer;
			&.active{
				border-bottom: 2px solid $iv-red;
				color: $iv-red;
			}
		}
	}
	.content {
		width: 80%;
	  margin: 0 auto 0 auto;
	  padding: 40px 10px;
	  .row {
	  	margin-top: 5px;
	  }
	  .key {
	    font-weight: 400;
	    @include font-normal(-2,100);
	  }
	  .value {
	  	font-size: 14px;
	    font-weight: 300;
	  }
	  .naukri {

	  }
	  .we-section {    
	  	border-bottom: 1px solid #ccc;
	    margin-bottom: 15px;
	    padding-bottom: 5px;
	  }
	}
}