<div class="login">
	<a href="" class="falcon-logo"></a>
	<div class="enterprise-panel-photo">
		<div class="enterprise-panel__content">
			<h2 class="enterprise-panel__header">
				<small class="enterprise-panel__subheader">
					Falcon Enterprise Edition
				</small>
				THE DESIGN COLLABORATION CLOUD FOR LARGER TEAMS
			</h2>
			<p class="enterprise-panel__caption">
				Unlimited team members. Unlimited projects. Unlimited creativity.
			</p>
			<a href="" target="_blank" class="btn btn-default xxlg">
				Start your free trial
			</a>
		</div>
		<div class="enterprise-panel__footer"></div>
	</div>
	<div class="login-form-wpr">
		<div class="new-user">
			<span>Don't have an account? </span>
			<span>
				<button class="btn btn-plain lg margin-left-15">GET STARTED</button>
			</span>
		</div>
		<div class="login-form">
			<h1 class="login-title">
				Sign in to Falcon.
				<small>Enter your details below.</small>
			</h1>
			<div class="form">
				<form>
					<div class="group">
						<label for="email">EMAIL ADDRESS</label>
						<input ng-model="login.username" class="f-input lg full" type="text" placeholder="ashish@gmail.com">
					</div>
					<div class="group">
						<label for="email">PASSWORD</label>
						<!-- <span>Forgot Password?</span> -->
						<input ng-model="login.password" class="f-input lg full" type="password" placeholder="Enter your password">
					</div>
					<div class="group text-center margin-20-0">
						<button class="btn btn-iv-red xxxlg" ng-click="login.submit()">Sign In</button>
					</div>
				</form>
			</div>
		</div>
		<div class="social-login">
			<!-- Other Logins -->
		</div>
	</div>
</div>