<div class="admin-contest-details clearfix">
	<div class="content">
		<div class="title"><h3>{{contestDetail.details.name}}</h3></div>
		<div class="title">{{contestDetail.details.description}}</div>
	</div>
	<div class="timings">
		<div class="title">Contest Duration</div>
		<div>
			<span> {{contestDetail.details.duration/60}} Hours </span> 
			<span ng-if="contestDetail.details.duration % 60 > 0">{{contestDetail.details.duration % 60}} Minutes</span>
		</div>
		<div class="title">Starts On</div>
		<div>{{contestDetail.details.startDate}}</div>
		<div class="title">Ends On</div>
		<div>{{contestDetail.details.endDate}}</div>
		<button class="btn btn-iv-red lg attempt-now" ng-click="attemptContest()" ng-disabled="contestDetail.isAttempted">Attempt Now</button>
	</div>
</div>
