<header>
	<span class="header-logo">
		<img src="/assets/images/f_logo.jpeg" alt="">
	</span>
	<span class="task-select">
		<span class="task-title">{{root.userSelected}}</span>
		<i class="material-icons">keyboard_arrow_down</i>
	</span>
	<span 
		class="add-new" 
		ng-if="root.user.showAddBtn">
			<i class="material-icons">add</i>
	</span>
	<span class="pull-right">
		<span class="logout-btn" ui-sref="login">Logout</span>
	</span>
</header>

<section>
	<ui-view></ui-view>
</section>

<footer>© 2018 coviam.com All Rights Reserved</footer>