<header>
	<span class="header-logo">
		<img src="/assets/images/f_logo.jpeg" alt="">
	</span>
	<span class="task-select admin-tab">
		<span class="task-title">{{root.adminSelected}}</span>
		<i class="material-icons">keyboard_arrow_down</i>
		<div class="task-dropdown">
			<div ui-sref="admin.contest">My Contest</div>
			<div ui-sref="admin.question">My Questions</div>
			<div ui-sref="admin.jd">Job Openings</div>
		</div>
	</span>
	<span 
		class="add-new" 
		ng-click="root.admin.gotoState()" 
		ng-if="root.admin.showAddBtn">
			<i class="material-icons">add</i>
	</span>
	<span class="pull-right">
		<span class="logout-btn" ui-sref="login">Logout</span>
	</span>
</header>

<section>
	<ui-view></ui-view>
</section>

<footer>© 2018 coviam.com All Rights Reserved</footer>