<div class="question-details">
	<div class="back-to-list">
		<i ng-click="adminQuestion.backToList()" class="material-icons">arrow_back</i>
		<span class="page-title">{{adminQuestion.data.title}}</span>
	</div>
	<div class="question-title">
		<div class="statement">
			{{adminQuestion.data.text}}
		</div>
	</div>
	<div class="question-type">
		<span class="title">Level</span> : {{adminQuestion.data.difficultyLevel}}
	</div>
	<div class="question-solution">
		<div ng-show="adminQuestion.data.type == 'MULTIPLE_CORRECT' || adminQuestion.data.type == 'SINGLE_CORRECT'">
			<span class="title"> Options </span>
			<div ng-repeat="option in adminQuestion.data.optionsDtos">
				<span class="mark" ng-class="{'correct': option.isCorrect}">
					<i class="material-icons">done</i>
				</span>
				<span class="solution">{{option.value}}</span>
			</div>
		</div>
		<div ng-show="adminQuestion.data.type == 'CODING'">
			<span class="title">Input </span>
			<div class="sample">
				<div ng-repeat="item in adminQuestion.data.testCaseDtos" class="solution">
					<code>{{item.input}}</code>
				</div>
			</div>
			<div class="title">Output</div>
			<div class="sample">
				<div ng-repeat="item in adminQuestion.data.testCaseDtos" class="solution">
					<code>{{item.output}}</code>
				</div>
			</div>
		</div>
	</div>
</div>