.f-card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: $white;
  height: 190px;
  margin: 15px 0;
  cursor: pointer;
  position: relative;
  .cart-title{
    padding: 12px 10px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #dadada;
    margin-bottom: 10px;
  }
  .start-end {
    color: #9ca3a8;
    font-weight: 400;
    font-size: 12px;
  }
  .info-pill{
    text-align: center;
    background: green;
    color: $white;
    padding: 8px 35px;
    font-size: 12px;
    border-radius: 3px;
  }
}
.f-card-holder{
	width: 80%;
	margin: 0px auto;
  padding: 30px 0;
}
.f-card-list{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: $white;
  height: 50px;
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
  line-height: 50px;
}
.jd-card {
  height: 120px !important;
  .cart-title{
    text-align: left;
    .ago {
      font-size: 12px;
      float: right;
    }
  }
}

.f-pill {
  display: inline-block;
  background: green;
  color: #fff;
  padding: 0px 10px;
  font-size: 12px;
  border-radius: 30px;
  margin: 5px 5px 0 0;
  line-height: 20px;
  i {
    font-size: 15px;
    cursor: pointer;
    top: 3px;
    position: relative;
    padding-left: 5px;
  }
}
.f-pill-value {
    background: #c7c7c7;
    padding: 3px 20px;
    border-radius: 5px;
    margin-right: 15px;
    position: relative;    
    display: inline-block;
    margin-top: 10px;
    .pill-value{
      background: #828282;
      border: 1px solid $white;
      color: $white;
      padding: 0 6px;
      border-radius: 50%;
      position: absolute;
      top: -8px;
      right: -6px;
      line-height: 17px;
      font-size: 12px;
    }
  }