<div class="candidate-detail" ng-show="!candidateDetail.loader">
	<div class="type-tabs">
		<span
			ng-class="['types', {'active' : (candidateDetail.typeSelected == item)}]"
			ng-repeat="item in candidateDetail.type"
			ng-click="candidateDetail.typeSelected = item">
				{{item}}
		</span>
		<span class="pull-right padding-right-30">
			<div class="togglebutton success">
				<label>
					<span class="padding-right-10">Show Detail</span>
		    	<input type="checkbox" ng-model="candidateDetail.showDetail">
				</label>
			</div>
		</span>
	</div>
	<div class="content">
		<div ng-show="candidateDetail.typeSelected == 'Naukri'" class="naukri">
			<div class="row">
				<div class="col-md-2 key">Name</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.name}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Gender</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.gender}}</div>
			</div>
			<div class="row" ng-show="candidateDetail.showDetail">
				<div class="col-md-2 key">Email</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.email}}</div>
			</div>
			<div class="row" ng-show="candidateDetail.showDetail">
				<div class="col-md-2 key">Marital Status</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.maritalStatus}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Job Summary</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.jobSummary}}</div>
			</div>
			<div class="row" ng-show="candidateDetail.showDetail">
				<div class="col-md-2 key">Current Package</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.currentPackage}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Total Experience</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.totalExperience}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Skills</div>
				<div class="col-md-10 value">
					<span class="f-pill" ng-repeat="skill in candidateDetail.data.naukriProfileDto.skills">
						{{skill}}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Current Designation</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.currentDesignation}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Current Organization</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.currentOrganization}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Previous Designation</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.previousDesignation}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Previous Organization</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.previousOrganization}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Current Location</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.currentLocation}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Preferred Location</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.preferredLocation}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Role</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.role}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Industry</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.industry}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Notice Period</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.noticePeriod}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Functional Area</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.functionalArea}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Highest Degree</div>
				<div class="col-md-10 value">{{candidateDetail.data.naukriProfileDto.highestDegree}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Qualifications</div>
				<div class="col-md-10 value">
					<div ng-repeat="qualification in candidateDetail.data.naukriProfileDto.qualifications">
						<div ng-repeat="(key,value) in qualification">
							<span class="text-capitalize padding-right-10">{{key}}:</span>{{value}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Work Experiences</div>
				<div class="col-md-10 value">
					<div class="we-section" ng-repeat="workExperience in candidateDetail.data.naukriProfileDto.workExperiences">
						<div ng-repeat="(key,value) in workExperience">
							{{key}}: {{value}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="candidateDetail.typeSelected == 'Github'" class="github">
			<div class="row">
				<div class="col-md-2 key">Username</div>
				<div class="col-md-10 value">{{candidateDetail.data.githubUserDetails.username}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Github UserId</div>
				<div class="col-md-10 value">{{candidateDetail.data.githubUserDetails.githubUserId}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Followers</div>
				<div class="col-md-10 value">{{candidateDetail.data.githubUserDetails.followers}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Languages</div>
				<div class="col-md-10 value">
					<span class="f-pill" ng-repeat="lang in candidateDetail.data.githubUserDetails.languages">
						{{lang}}
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Github Score</div>
				<div class="col-md-10 value">{{candidateDetail.data.githubUserDetails.gitHubScore}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Repositories</div>
				<div class="col-md-10 value">{{candidateDetail.data.githubUserDetails.repositories}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Repos By Language</div>
				<div class="col-md-10 value">
					<span ng-repeat="(key, value) in candidateDetail.data.githubUserDetails.reposByLanguage">
						<span class="f-pill-value">
							{{key}}
							<span class="pill-value">{{value}}</span>
						</span>
					</span>
				</div>
			</div>
		</div>
		<div ng-show="candidateDetail.typeSelected == 'Linkedin'">
			<div class="row">
				<div class="col-md-2 key">First Name</div>
				<div class="col-md-10 value">{{candidateDetail.data.linkedInProfileResponse.firstname}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Last Name</div>
				<div class="col-md-10 value">{{candidateDetail.data.linkedInProfileResponse.lastname}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Linkedin Identifier</div>
				<div class="col-md-10 value">{{candidateDetail.data.linkedInProfileResponse.linkedinIdentifier}}</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Skill Endorsement</div>
				<div class="col-md-10 value">
					<span ng-repeat="(key, value) in candidateDetail.data.linkedInProfileResponse.skillsAndEndorsement">
						<span class="f-pill-value">
							{{key}}
							<span class="pill-value">{{value}}</span>
						</span>
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Work Experiences</div>
				<div class="col-md-10 value">
					<div class="we-section" ng-repeat="workExperience in candidateDetail.data.linkedInProfileResponse.workExperiences">
						<div ng-repeat="(key,value) in workExperience">
							{{key}}: {{value}}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 key">Qualifications</div>
				<div class="col-md-10 value">
					<div class="we-section" ng-repeat="qualification in candidateDetail.data.linkedInProfileResponse.qualifications">
						<div ng-repeat="(key,value) in qualification">
							{{key}}: {{value}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pull-right row margin-top-25">
			<button class="btn btn-iv-red xxlg" ui-sref="admin.jd">Back to home</button>
		</div>
	</div>
</div>

<div class="pageloader" ng-show="candidateDetail.loader">
	<div class="spinner">
	  <div class="cube1"></div>
	  <div class="cube2"></div>
	</div>
	<div class="text-center">Loading...</div>
</div>
