<div class="admin-jd-detail" ng-show="!candidate.loader">
		<div class="page-head row">
		<i ng-click="candidate.backToList()" class="material-icons">arrow_back</i>
		<span class="page-title">Matched Candidate</span>
	</div>
	<div class="candidate-list">

		<div class="list-header clearfix">
			<div class="col-md-1"></div>
			<div class="col-md-4">Name</div>
			<div class="col-md-3">Current Package</div>
			<div class="col-md-3">Notice Period</div>
		</div>	

		<div class="f-card-list" ng-repeat="item in candidate.list" ng-click="candidate.detail(item.id)">
			<div class="col-md-1 text-center">
				<div class="checkbox margin-0" ng-click="candidate.checkboxClick(); $event.stopPropagation();">
					<label>
						<input type="checkbox" name="sample" ng-model="candidate.selected[$index]">
					</label>
				</div>
			</div>
			<div class="col-md-4">{{item.name}}</div>
			<div class="col-md-3">{{item.currentPackage}}</div>
			<div class="col-md-3">{{item.noticePeriod}}</div>
		</div>
	</div>
	<div class="pull-right" ng-if="candidate.showSubmit">
		<button class="btn btn-iv-red xlg" ng-click="candidate.submitSelected()">Submit</button>
	</div>
</div>
<div class="pageloader" ng-show="candidate.loader">
	<div class="spinner">
	  <div class="cube1"></div>
	  <div class="cube2"></div>
	</div>
	<div class="text-center">Loading...</div>
</div>
