<div class="admin-jd-detail" ng-show="!adminJdDetail.loader">
	<div class="page-head row">
		<i ng-click="adminJdDetail.backToList()" class="material-icons">arrow_back</i>
		<span class="page-title">Job Description</span>
	</div>
	<div class="title row">{{adminJdDetail.data.title}}</div>
	<div class="skills row">
		<span class="f-pill" ng-repeat="item in adminJdDetail.data.skills">{{item}}</span>
	</div>
	<div class="salary row">
		<span class="key">Salary: </span>
		<span>{{adminJdDetail.data.minSal | currency:"₹":0}} - {{adminJdDetail.data.maxSal | currency:"₹":0}}</span>
	</div>
	<div class="hiring-manager row">
		<span class="key">Hiring Manager: </span>
		<span>{{adminJdDetail.data.hiringManager}}</span>
	</div>
	<div class="experience row">
		<span class="key">Experience: </span>
		<span>{{adminJdDetail.data.minExp}} - {{adminJdDetail.data.maxExp}} Years</span>
	</div>
	<div class="description row">{{adminJdDetail.data.description}}</div>
	<div class="awp row">
		<span class="key">Good to have: </span>
		<span>{{adminJdDetail.data.addedValuePoints}}</span>
	</div>
	<div class="notice row">
		<span class="key">Notice Period: </span>
		<span>{{adminJdDetail.data.noticePeriod}}</span>
	</div>
	<div class="pull-right row">
		<button class="btn btn-default xxlg margin-right-5" ng-click="gotoSelectedCandidateList()">Selected Candidates</button>
		<button class="btn btn-iv-red xlg" ng-click="gotoCandidateList()">Get Candidate List</button>
	</div>
</div>
<div class="pageloader" ng-show="adminJdDetail.loader">
	<div class="spinner">
	  <div class="cube1"></div>
	  <div class="cube2"></div>
	</div>
	<div class="text-center">Loading...</div>
</div>
