<div class="admin-selected-candidate" ng-show="!selectedCandidate.loader">
		<div class="page-head row">
		<i ng-click="selectedCandidate.backToList()" class="material-icons">arrow_back</i>
		<span class="page-title">Selected Candidate</span>
	</div>
	<div class="candidate-list">

		<div class="list-header clearfix">
			<div class="col-md-4">Name</div>
			<div class="col-md-2">Stage</div>
			<div class="col-md-3">Status</div>
			<div class="col-md-3">Actions</div>
		</div>	

		<div class="f-card-list" ng-repeat="item in selectedCandidate.list" ng-click="selectedCandidate.detail(item.id)">
			<div class="col-md-4">{{item.name}}</div>
			<div class="col-md-2 font-14">{{selectedCandidate.stageMap[item.stage]}}</div>
			<div class="col-md-3 font-14">{{selectedCandidate.statusMap[item.status]}}</div>
			<div class="col-md-3">
				<button ng-show="item.stage == 'TEST_SENT'" class="btn btn-grey md" ng-click="selectedCandidate.action(item.id, 'REMAINDER'); $event.stopPropagation();">Reminder</button>
				<button ng-show="item.stage == 'EVALUATION'" class="btn btn-grey md" ng-click="selectedCandidate.action(item.id, 'CALL'); $event.stopPropagation();">Call</button>
				<button ng-show="item.stage == 'INIT'" class="btn btn-grey md" ng-click="selectedCandidate.action(item.id, 'SEND_TEST'); $event.stopPropagation();">Send Test</button>
				<button class="btn btn-grey md" ng-click="selectedCandidate.reject(item.id); $event.stopPropagation();">Reject</button>
			</div>
		</div>
	</div>
	<div class="pull-right" ng-if="selectedCandidate.showSubmit">
		<button class="btn btn-iv-red xlg" ng-click="selectedCandidate.submitSelected()">Submit</button>
	</div>
</div>
<div class="pageloader" ng-show="selectedCandidate.loader">
	<div class="spinner">
	  <div class="cube1"></div>
	  <div class="cube2"></div>
	</div>
	<div class="text-center">Loading...</div>
</div>
