<div class="admin-contest">
	<div class="type-tabs">
		<span
			ng-class="['types', {'active' : (contestList.typeSelected == item)}]"
			ng-repeat="item in contestList.type"
			ng-click="contestList.typeSelected = item">
				{{item}}
		</span>
	</div>
	<div class="f-card-holder">
		<div class="row">
			<div 
				class="col-md-4" 
				ng-repeat="item in contestList.list"
				ng-if="contestList.typeSelected == 'All' || contestList.typeSelected == item.status">
					<div class="f-card">
						<div class="cart-title">{{item.name}}</div>
						<div>
							<div class="text-center"><strong>{{item.description}}</strong></div>
							<div ng-if="item.isActive">
								<div class="text-center margin-top-10"><span class="start-end">Ending In</span></div>
								<div class="text-center"><span>{{item.endsIn}}</span></div>
							</div>
							<div ng-show="!item.isActive && item.status != 'COMPLETED'">
								<div class="text-center margin-top-10"><span class="start-end">Starts In</span></div>
								<div class="text-center"><span>{{item.startIn}}</span></div>
							</div>
							<div class="text-center" ng-class="item.status == 'COMPLETED && !item.isActive' ? 'completed': 'margin-top-10'">
								<span class="info-pill" ng-if="item.isActive" ng-click="contestList.getDetails(item)">Start</span>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
